<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denomination Exchange</title>
</head>
<body>
    <h1>Denomination Exchange for Multiple Locations</h1>
    <form action="{{ url_for('perform_exchange') }}" method="POST">
        {% for location in ['POS51', 'POS52', 'Petty Cash', 'Safe'] %}
        <h3>{{ location }}</h3>
        <label for="amount_{{ location }}">Enter Amount to be Exchanged from {{ location }}:</label>
        <input type="number" name="amount_{{ location }}" step="0.01" required>
        <br><br>
        
        <label>Select Denominations for {{ location }}:</label><br>
        <input type="checkbox" name="denominations_{{ location }}" value="10"> $10<br>
        <input type="checkbox" name="denominations_{{ location }}" value="5"> $5<br>
        <input type="checkbox" name="denominations_{{ location }}" value="2"> $2<br>
        <br>
        {% endfor %}
        
        <button type="submit">Perform Exchange</button>
    </form>
</body>
</html>
