<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denomination Exchange</title>
</head>
<body>
    <h1>Denomination Exchange</h1>
    <form action="/" method="POST">
        {% for location in ['POS51', 'POS52', 'Petty Cash', 'Safe'] %}
            <div>
                <label>Enter the amount to be exchanged from {{ location }}:</label>
                <input type="number" step="0.01" name="amount_{{ location }}" required>
                <div>
                    <label>Select denominations for {{ location }}:</label><br>
                    <input type="checkbox" name="denom_{{ location }}" value="10"> $10<br>
                    <input type="checkbox" name="denom_{{ location }}" value="5"> $5<br>
                    <input type="checkbox" name="denom_{{ location }}" value="2"> $2<br>
                </div>
            </div>
            <br>
        {% endfor %}
        <button type="submit">Perform Exchange</button>
    </form>
</body>
</html>
